<h1>Account Approved</h1>

<p>The wait is over!</p>

<p>Your trader account has finally been approved by the Eluder team. Go out there and make your first million! Who's gonna stop you now?</p>

<p>Good luck, <%= @user.first_name %></p>

<p><%= link_to "Visit Eluder", new_user_session_url %></p>
