<h1>Welcome to Eluder</h1>

<p>Congratulations!</p> 

<p>You have successfully registered your account in Eluder Stock Trading App. Your journey in stock trading finally begins here.</p>
<p>Account Status : <em><%= @user.status.capitalize %></em></p>
<p>To be begin trading, please wait for the Eluder team to approve your trader account. In the mean time, you may search through the market for latest stock prices. </p>
<p>Great to have you on board, <%= @user.first_name %>.</p>

<p><%= link_to "Visit Eluder", new_user_session_url %></p>